@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* scroll to top transition  */
}

ul {
  list-style-position: inside;
}

.blue {
  border: 2px solid blue;
}
